@charset "utf-8";

/* 화면 0 ~ 1420px */
@media screen and (max-width:1460px) {
  .sideMenu {
    display: none;
  }
}

/* 화면 0 ~ 1378px */
@media screen and (max-width:1378px) {
  button.topBtnFix {
    right: 40px;
  }
}

/* 화면 0 ~ 1220px */
@media screen and (max-width:1220px) {
  .container {
    padding: 0 20px;
  }

  .visual2 .container .aboutWrap {
    padding: 60px 60px;
  }

  .visual3 .container ul li {
    width: calc(50% - 15px);
    height: 260px;
  }

  .visual4 .projectSwiper {
    max-width: 960px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 300px;
  }
}

/* 화면 0 ~ 1160px */
@media screen and (max-width:1160px) {
  .visual2 .container .aboutWrap {
    flex-direction: column;
    gap: 30px;
  }

  .visual2 .container .aboutWrap .leftWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .visual2 .container .aboutWrap .leftWrap .greetings1 {
    text-align: center;
  }

  .visual2 .container .aboutWrap .leftWrap .greetings2 {
    text-align: center;
  }

  .visual2 .container .aboutWrap .rightWrap {
    gap: 20px;
  }
}


/* 화면 0 ~ 1024px */
@media screen and (max-width:1024px) {
  .visual1 .container .tit1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 110px;
    line-height: 110px;
    margin-bottom: 14px;
  }

  .visual1 .container p .tit3 {
    font-size: 30px;
    line-height: 30px;
  }
}

/* 화면 0 ~ 982px */
@media screen and (max-width:982px) {
  .header .container.lora .menuWrap {
    display: none;
  }

  .header .container.lora .menuBar {
    display: block;
  }
}

/* 화면 0 ~ 1120px */
@media screen and (max-width:1120px) {
  .visual4 .projectSwiper {
    max-width: 710px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 340px;
  }
}


/* 화면 0 ~ 927px */
@media screen and (max-width:927px) {
  button.topBtnFix {
    right: 10px;
  }
}

/* 화면 0 ~ 870px */
@media screen and (max-width:870px) {
  .visual4 .projectSwiper {
    max-width: 340px;
  }
}

/* 화면 0 ~ 830px */
@media screen and (max-width:830px) {
  .visual3 .container ul li {
    width: 100%;
    height: 200px;
  }

  .visual3 .container ul li .box {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .visual3 .container ul li .box img {
    transform: scale(1.5);
    margin-bottom: 0;
  }
}

/* 화면 0 ~ 817px */
@media screen and (max-width:817px) {
  .visual1 .container .tit1 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }
  .visual1 .container p .tit2.lora {
    font-size: 80px;
    line-height: 80px; 
    margin-bottom: 12px;
  }

  .visual1 .container p .tit3 {
    font-size: 22px;
    line-height: 22px;
  }
}

/* 화면 0 ~ 660px */
@media screen and (max-width:660px) {
  .visual2 .container .aboutWrap .leftWrap .greetings1 {
    font-size: 24px;
  }

  .visual2 .container .aboutWrap .leftWrap .greetings2 {
    font-size: 14px;
  }

  .visual2 .container .aboutWrap .leftWrap a {
    font-size: 13px;
  }

  .visual2 .container .aboutWrap .rightWrap ul .tit {
    font-size: 18px;
  }

  .visual2 .container .aboutWrap .rightWrap ul .txt {
    font-size: 14px;
  }
}

/* 화면 0 ~ 610px */
@media screen and (max-width:610px) {
  .visual1 .container .tit1 {
    font-size: 14px;
    line-height: 14px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 60px;
    line-height: 60px;
  }

  .visual1 .container p .tit3 {
    font-size: 18px;
    line-height: 18px;
  }
}

/* 화면 0 ~ 603px */
@media screen and (max-width:603px) {
  .visual2 .container .aboutWrap .rightWrap ul br {
    display: block;
  }

  .visual2 .container .aboutWrap .rightWrap ul.skill .txt.mb10 {
    margin-bottom: 10px;
  }
}

/* 화면 0 ~ 600px */
@media screen and (max-width:600px) {
  .visual2 .container .aboutWrap {
    padding: 60px 40px;
  }

  .visual2 .container .aboutWrap .leftWrap .greetings2 br {
    display: none;
  }
}

/* 화면 0 ~ 580px */
@media screen and (max-width:580px) {
  .visual3 .container ul li {
    height: 260px;
  }

  .visual3 .container ul li .box {
    display: block;
  }

  .visual3 .container ul li .box img {
    margin-bottom: 30px;
    transform: scale(1);
  }
}

/* 화면 0 ~ 567px */
@media screen and (max-width:567px) {
  .visual5 .container p {
    font-size: 16px;
  }

  .visual5 .reserveWrap {
    font-size: 12px;
  }

  .visual5 .container .gmail {
    font-size: 26px;
  }
}

/* 화면 0 ~ 547px */
@media screen and (max-width:547px) {
  .visual2 .container .aboutWrap .rightWrap ul.license .txt.mb10 {
    margin-bottom: 10px;
  }
}

/* 화면 0 ~ 430px */
@media screen and (max-width:430px) {
  .visual1 .container .tit1 {
    font-size: 12px;
    line-height: 12px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 46px;
    line-height: 46px;
  }

  .visual1 .container p .tit3 {
    font-size: 16px;
    line-height: 16px;
  }
}

/* 화면 0 ~ 414px */
@media screen and (max-width:414px) {
  .secTit.lora {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
  }
  
  .visual2 {
    padding: 70px 0;
  }

  .visual2 .container .aboutWrap .rightWrap ul.education .txt.mb10 {
    margin-bottom: 10px;
  }

  .visual4 .projectSwiper {
    max-width: 300px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 300px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .mainWrap .mainTit {
    font-size: 28px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .mainWrap .mainTxt {
    font-size: 12px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content ul li span {
    font-size: 14px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .linkWrap a {
    font-size: 14px;
  }

  .visual5 .container .secTit.lora {
    line-height: 40px;
  }

  .visual5 .container p {
    font-size: 14px;
  }

  .visual5 .container .gmail {
    font-size: 22px;
  }

  .visual5 .reserveWrap {
    font-size: 10px;
  }
}