@charset "utf-8";

/* 화면 0 ~ 1420px */
@media screen and (max-width:1460px) {
  .sideMenu {
    display: none;
  }
}

/* 화면 0 ~ 1378px */
@media screen and (max-width:1378px) {
  button.topBtnFix {
    right: 40px;
  }
}

/* 화면 0 ~ 1220px */
@media screen and (max-width:1220px) {
  .container {
    padding: 0 20px;
  }

  .visual2 .container .aboutWrap .about .topWrap p {
    font-size: 14px;
  }

  .visual3 .container ul li {
    width: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 240px;
  }

  .visual3 .container ul li img {
    transform: scale(1.5);
  }

  .visual3 .container ul li span {
    margin-top: 0;
  }

  .visual4 .projectSwiper {
    max-width: 960px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 300px;
  }
}

/* 화면 0 ~ 1164px */
@media screen and (max-width:1164px) {
  .visual2 .container .aboutWrap {
    padding: 60px 80px;
  }
}

/* 화면 0 ~ 1124px */
@media screen and (max-width:1124px) {
  .visual2 .container .aboutWrap {
    padding: 60px 60px;
  }
}

/* 화면 0 ~ 1084px */
@media screen and (max-width:1084px) {
  .visual2 .container .aboutWrap {
    flex-direction: column;
    align-items: center;
  }

  .visual2 .container .aboutWrap .about .topWrap .name {
    text-align: center;
  }

  .visual2 .container .aboutWrap .about .topWrap p {
    text-align: center;
  }

  .visual2 .container .aboutWrap .about .botWrap {
    display: flex;
    gap: 40px;
  }

  .visual2 .container .aboutWrap .about .botWrap > div {
    gap: 40px;
  }

  .visual2 .container .aboutWrap .about .botWrap .skillWrap {
    margin-top: 28px;
  }

  .visual2 .container .aboutWrap .about .botWrap .skillWrap br {
    display: block;
  }

  .visual2 .container .aboutWrap .about .botWrap .skillWrap .txt:nth-of-type(5),
  .visual2 .container .aboutWrap .about .botWrap .skillWrap .txt:nth-of-type(6),
  .visual2 .container .aboutWrap .about .botWrap .skillWrap .txt:nth-of-type(7) {
    margin-top: 8px;
  }
}

/* 화면 0 ~ 1053px */
@media screen and (max-width:1053px) {
  .visual3 .container ul li p {
    font-size: 14px;
  }
}

/* 화면 0 ~ 1024px */
@media screen and (max-width:1024px) {
  .visual1 .container .tit1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 110px;
    line-height: 110px;
    margin-bottom: 14px;
  }

  .visual1 .container p .tit3 {
    font-size: 30px;
    line-height: 30px;
  }
}

/* 화면 0 ~ 982px */
@media screen and (max-width:982px) {
  .header .container.lora .menuWrap {
    display: none;
  }

  .header .container.lora .menuBar {
    display: block;
  }
}

/* 화면 0 ~ 1120px */
@media screen and (max-width:1120px) {
  .visual4 .projectSwiper {
    max-width: 710px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 340px;
  }
}

/* 화면 0 ~ 980px */
@media screen and (max-width:980px) {
  .visual3 .container ul li {
    display: block;
    height: 300px;
  }

  .visual3 .container ul li img {
    transform: scale(1);
  }
  
  .visual3 .container ul li span {
    margin-top: 30px;
  }

  .visual3 .container ul li p {
    font-size: 16px;
  }
} 

/* 화면 0 ~ 927px */
@media screen and (max-width:927px) {
  button.topBtnFix {
    right: 10px;
  }
}

/* 화면 0 ~ 870px */
@media screen and (max-width:870px) {
  .visual4 .projectSwiper {
    max-width: 340px;
  }
}

/* 화면 0 ~ 845px */
@media screen and (max-width:845px) {
  .visual3 .container ul li {
    width: 100%;
    display: flex;
    gap: 60px;
    height: 240px;
  }

  .visual3 .container ul li img {
    transform: scale(1.5);
  }

  .visual3 .container ul li span {
    margin-top: 0;
  }
}

/* 화면 0 ~ 817px */
@media screen and (max-width:817px) {
  .visual1 .container .tit1 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }
  .visual1 .container p .tit2.lora {
    font-size: 80px;
    line-height: 80px; 
    margin-bottom: 12px;
  }

  .visual1 .container p .tit3 {
    font-size: 22px;
    line-height: 22px;
  }
}

/* 화면 0 ~ 748px */
@media screen and (max-width:748px) {
  .visual2 .container .aboutWrap {
    padding: 60px 30px;
  }

  .visual2 .container .aboutWrap .about .topWrap p span {
    display: block;
  }

  .visual2 .container .aboutWrap .about .topWrap p br {
    display: none;
  }

  .visual2 .about .botWrap .tit {
    font-size: 18px;
  }

  .visual2 .about .botWrap .txt {
    font-size: 14px;
  }
}

/* 화면 0 ~ 640px */
@media screen and (max-width:640px) {
  .visual2 .container .aboutWrap .about .topWrap p {
    font-size: 12px;
  }

  .visual2 .about .botWrap .txt {
    font-size: 12px;
  }
}

/* 화면 0 ~ 610px */
@media screen and (max-width:610px) {
  .visual1 .container .tit1 {
    font-size: 14px;
    line-height: 14px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 60px;
    line-height: 60px;
  }

  .visual1 .container p .tit3 {
    font-size: 18px;
    line-height: 18px;
  }
}

/* 화면 0 ~ 594px */
@media screen and (max-width:594px) {
  .visual2 .container .aboutWrap .about .botWrap > div {
    gap: 20px;
  }

  .visual2 .container .aboutWrap .about .botWrap {
    gap: 20px;
  }
}

/* 화면 0 ~ 567px */
@media screen and (max-width:567px) {
  .visual5 .container p {
    font-size: 16px;
  }

  .visual5 .reserveWrap {
    font-size: 12px;
  }

  .visual5 .container .gmail {
    font-size: 26px;
  }
}

/* 화면 0 ~ 554px */
@media screen and (max-width:554px) {
  .visual2 .container .aboutWrap .about .topWrap p {
    font-size: 13px;
  }

  .visual2 .container .aboutWrap .about .botWrap {
    flex-direction: column;
  }

  .visual2 .container .aboutWrap .about .botWrap > div {
    gap: 80px;
  }

  .visual2 .about .botWrap .tit {
    font-size: 20px;
  }

  .visual2 .about .botWrap .txt {
    font-size: 14px;
  }
}

/* 화면 0 ~ 550px */
@media screen and (max-width:550px) {
  .visual3 .container ul li p {
    font-size: 14px;
  }
}

/* 화면 0 ~ 513px */
@media screen and (max-width:513px) {
  .visual3 .container ul li p {
    font-size: 13px;
  }
}

/* 화면 0 ~ 430px */
@media screen and (max-width:430px) {
  .visual1 .container .tit1 {
    font-size: 12px;
    line-height: 12px;
  }

  .visual1 .container p .tit2.lora {
    font-size: 46px;
    line-height: 46px;
  }

  .visual1 .container p .tit3 {
    font-size: 16px;
    line-height: 16px;
  }
}

/* 화면 0 ~ 414px */
@media screen and (max-width:414px) {
  .secTit.lora {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
  }

  .visual2 .container .aboutWrap .about .topWrap p {
    font-size: 11px;
  }

  .visual3 .container ul li {
    display: block;
    height: 300px;
  }

  .visual3 .container ul li img {
    transform: scale(1);
  }

  .visual3 .container ul li span {
    margin-top: 30px;
  }

  .visual3 .container ul li p {
    font-size: 15px;
  }

  .visual4 .projectSwiper {
    max-width: 300px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide {
    width: 300px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .mainWrap .mainTit {
    font-size: 28px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .mainWrap .mainTxt {
    font-size: 12px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content ul li span {
    font-size: 14px;
  }

  .visual4 .projectSwiper .swiper-wrapper .swiper-slide .content .linkWrap a {
    font-size: 14px;
  }

  .visual5 .container .secTit.lora {
    line-height: 40px;
  }

  .visual5 .container p {
    font-size: 14px;
  }

  .visual5 .container .gmail {
    font-size: 22px;
  }

  .visual5 .reserveWrap {
    font-size: 10px;
  }
}